body{
    font-family: 'Poppins', sans-serif;
}
.part1{
    height: 100vh;
    background: url("images/bgshrimp.jpeg");
    background-size: cover;
    background-position: 50% 0;
    position: relative;
}
.overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
}
.navbar{
    position: absolute;
    top: 30px;
    width: 85%;
}

@media only screen and (max-width:768px){
    .navbar {
        background: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
} 

.part1 .navbar-brand{
    font-weight: 600;
}

.part1 .navbar li{
    margin-left:6px;
}

.part1 .navbar li a{
    font-size: 15px;
    color:white !important;
    font-weight: 300;
    letter-spacing: 0.6px;
    transition: 0.2 s;
}

.part1 .navbar .navbar-nav .nav-item .active,
.part1 .navbar .navbar-nav a:hover{
    color:#f7b71d !important;
}

.part1 .container .row{
    height: 100vh;
    display:flex;
    align-items: center;
}

.part1 .right-content{
    padding: 25px;
    border-radius: 3px;
}

.part1 .right-content h3{
    color: black;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

.part1 .right-content label{
    color:black;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.part1 .right-content input[type="submit"]{
    background-color:#f7b71d !important ;
    border:1px solid #f7b71d !important;
    padding: 15px 0;
}
@media only screen and (max-width:768px) {
    .part1{
        height: 850px;
    }
    h2{
        margin-top: 65px;
    }
}

.part1 .right-content input[type="text"]{
    font-size: 12px;
}

.part2{
    margin: 40px auto;
}

.part2 label{
    font-size: 16px;
    font-weight: 600;
}

.part2 select{
    font-size: 13;
}

.part2 .btn.btn-primary{
    margin-top: 30px;
    background-color: #f7b71d;
    border: 1px solid #f7b71d;
}

.part3{
    margin-top: 50px;
    text-align: center;
}
.part3 p{
    color: #f7b71d;
    font-size: 12px;
    font-weight: 800;
}

.part3 h3{
    font-size: 40;
    font-weight: 600;
    margin-bottom: 100px;
}

.part3 i{
    font-size: 25px;
    color: #f7b71d;
}

.part3 h4{
    display: inline;
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
}


.part3 .lbl{
    text-align: left;
}
.part3 .lbl p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #454545;
    margin-top: 30px;
    text-align: left;
}

.part4{
    margin-top: 100px;
    text-align: center;
}

.part4 p{
    color: #f7b71d;
    font-size: 12px;
    font-weight: 800;
}

.part4 h3{
    font-size: 40;
    font-weight: 600;
    margin-bottom: 100px;
}

.part4 .label{
    width: 100%;
    text-align: center;
    border: 1px solid #ababab;
    padding-bottom: 20px;
}
.part4 .label .img{
    width: 100%;
    height: 200px;
    position: relative;
    background-size: cover !important;
    background-position: center center !important ;
}

.part4 .label .price{
    background: white;
    font-weight: 700;
}

.part4 .label .price span{
    font-size: 20px;
    padding: 10px 30px;
    color: #f7b71d;
}

.part4 .label h5{
    margin-top: 30px;
    font-size: 20px;
    color: #000;
}

.part4 .label p{
    color: rgba(0, 0, 0, 0.5);
}
.part4 .label .buttons{
    display: flex;
    justify-content: space-around;
}

.part4 .label .buttons .btn{
    width: 45%;
    color: #000;
    font-size: 14px;
    transition: 0.2s;
}

.part4 .label .buttons .btn:hover{
    background: #f7b71d;
    color: white;
    font-weight: 600;
}

.part5{
    height: 100vh;
    background: url("images/caridina-bg.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    display: flex;
    justify-content: center;
}

.part5 .container{
    z-index: 999;
    position: absolute;
    color:white;
    text-align: center;
}

.part5 p{
    margin-top: 50px;
    font-size: 16px;
    color: white;
}

.part5 h2{
    color: white;
    font-size: 40px;
    margin-bottom: 100px;
}

.part5 .img{
    width: 85px;
    height: 85px;
    border:2px solid #f7b71d;
    border-radius: 100%;
    font-size: 30px;
    padding: 15px;
    display: inline-block;
    margin-bottom: 50px;
}

.part5 .content h3{
    color: #fff;
}

.part5 .content p{
    color:rgba(255, 255, 255, 255, 0.6) !important;
    font-size: 16px;
    line-height: 30px;
    margin: 10px;
}
@media only screen and (max-width:768px) {
    .part5{
        height: 1350px;
    }
    .part5 .content{
        margin-bottom: 20px;
    }
}

.part6 {
    margin-top: 100px;
    text-align: center;
}

.part6 p{
    color: #f7b71d;
    font-size: 12px;
    font-weight: 800;
}

.part6 h2{
    font-size: 40;
    font-weight: 600;
    margin-bottom: 100px;
}

.part6 .card{
    text-align: center;
    height: 100%;
}

.part6 img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.part6 .card p{
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 500;
    color: #666;
}
.part6 .card h5{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #f7b71d;
    }

.part6 .card span{
    font-size: 16px;
    color: #ccc;
    font-weight: 600;
}

.part7{
    margin-top: 100px;
}

.part7 .img{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    
}

.part7 .caption p{
    font-size: 14px;
    color: #f7b71d;
    font-weight: 600;
}
.part7 article{
    padding: 30px;
}
.part7 .caption h3{
    font-size: 40px;
    font-weight: 800;
}

.part7 article p.content{
    font-size: 16px;
    font-weight: 500;
    color: #666;
}

.part7 article .btn{
    background-color: #f7b71d;
    border: none;
    color: white;
}

@media only screen and (max-width:768px) {
    .part7 .img{
        height: 850px;
    }
}
footer{
	margin-top: 100px;
	background: #000;
	padding: 80px 0;
}
footer h3{
	color:#fff;
	margin-bottom: 40px;
	font-size: 20px;
}

footer p{
	line-height: 1.8;
	color: rgba(255,255,255,0.8)
	
}

footer ul.social{
margin-top: 40px;
	list-style: none;
	text-align: left;
	padding: 0;
}

footer ul.social li{
	display: block;
	float: left;
	margin-right: 10px;
	width: 45px;
	height: 45px;
	padding: 5px;
	text-align: center;
	border-radius: 100%;
	background-color: #171717;
	
}
footer ul.social li a{
	display: block;
	font-size: 25px;
	color:white;
}

footer ul.footerlist{
	list-style: none;
	margin: 0;
	padding: 0;
	
}
footer ul.footerlist li{
	display: block;
	margin-bottom: 10px;
	
}
footer ul.footerlist li a{
	text-decoration: none;
	color: rgba(255,255,255,0.7);
	
}
.footerlist i{
	color:#fff;
	float:left;
	margin-right: 5px;
	margin-top: 5px;
}

footer .lisance{
	margin-top: 40px;
	color:rgba(255,255,255,0.7);
}

.part2, .part3, .part4, .part5, .part6, .part7, footer{
	opacity: 0;
}