body{
    font-family: 'Poppins', sans-serif;
}
.part1{
    height: 100vh;
    background: url("images/bgshrimp.jpeg");
    background-size: cover;
    background-position: 50% 0;
    position: relative;
}
.overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
}
.navbar{
    position: absolute;
    top: 30px;
    width: 85%;
}

@media only screen and (max-width:768px){
    .navbar {
        background: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
} 

.part1 .navbar-brand{
    font-weight: 600;
}

.part1 .navbar li{
    margin-left:6px;
}

.part1 .navbar li a{
    font-size: 15px;
    color:white !important;
    font-weight: 300;
    letter-spacing: 0.6px;
    transition: 0.2 s;
}

.part1 .navbar .navbar-nav .nav-item .active,
.part1 .navbar .navbar-nav a:hover{
    color:#f7b71d !important;
}

.part1 .container .row{
    height: 100vh;
    display:flex;
    align-items: center;
}

.part1 .right-content{
    padding: 25px;
    border-radius: 3px;
}

.part1 .right-content h3{
    color: black;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

.part1 .right-content label{
    color:black;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.part1 .right-content input[type="submit"]{
    background-color:#f7b71d !important ;
    border:1px solid #f7b71d !important;
    padding: 15px 0;
}
@media only screen and (max-width:768px) {
    .part1{
        height: 850px;
    }
    h2{
        margin-top: 65px;
    }
}

.part1 .right-content input[type="text"]{
    font-size: 12px;
}

.part2{
    margin: 40px auto;
}

.part2 label{
    font-size: 16px;
    font-weight: 600;
}

.part2 select{
    font-size: 13;
}

.part2 .btn.btn-primary{
    margin-top: 30px;
    background-color: #f7b71d;
    border: 1px solid #f7b71d;
}

.part3{
    margin-top: 50px;
    text-align: center;
}
.part3 p{
    color: #f7b71d;
    font-size: 12px;
    font-weight: 800;
}

.part3 h3{
    font-size: 40;
    font-weight: 600;
    margin-bottom: 100px;
}

.part3 i{
    font-size: 25px;
    color: #f7b71d;
}

.part3 h4{
    display: inline;
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
}


.part3 .lbl{
    text-align: left;
}
.part3 .lbl p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #454545;
    margin-top: 30px;
    text-align: left;
}